@page "/uploadfile"
@inherits UploadFileBase
<h3>UploadFile</h3>

<InputFile OnChange="HandleFileChange"/>
<button @onclick="UploadFile">Upload</button>
@if(!string.IsNullOrEmpty(uploadMessage)){
	<p>Upload result: @uploadMessage</p>
}
